<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GestionApprovissionementProduit</display-name>
   <welcome-file-list>
  	<welcome-file>dashboard</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.gap.servlets.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FournisseurServlet</servlet-name>
    <servlet-class>com.gap.servlets.FournisseurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FournisseurServlet</servlet-name>
    <url-pattern>/listFournisseur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FournisseurServlet</servlet-name>
    <url-pattern>/addFournisseur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FournisseurServlet</servlet-name>
    <url-pattern>/ajoutFournisseur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FournisseurServlet</servlet-name>
    <url-pattern>/modifFournisseur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FournisseurServlet</servlet-name>
    <url-pattern>/updateFournisseur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FournisseurServlet</servlet-name>
    <url-pattern>/suppFournisseur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProduitsServlet</servlet-name>
    <servlet-class>com.gap.servlets.ProduitsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduitsServlet</servlet-name>
    <url-pattern>/listProduits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProduitsServlet</servlet-name>
    <url-pattern>/addProduits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProduitsServlet</servlet-name>
    <url-pattern>/ajoutProduits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProduitsServlet</servlet-name>
    <url-pattern>/updateProduits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProduitsServlet</servlet-name>
    <url-pattern>/modifProduits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProduitsServlet</servlet-name>
    <url-pattern>/suppProduits</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FournirServlet</servlet-name>
    <servlet-class>com.gap.servlets.FournirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FournirServlet</servlet-name>
    <url-pattern>/listFournir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FournirServlet</servlet-name>
    <url-pattern>/addFournir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FournirServlet</servlet-name>
    <url-pattern>/ajoutFournir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FournirServlet</servlet-name>
    <url-pattern>/updateFournir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FournirServlet</servlet-name>
    <url-pattern>/modifFournir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FournirServlet</servlet-name>
    <url-pattern>/suppFournir</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LignfrServlet</servlet-name>
    <servlet-class>com.gap.servlets.LignfrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LignfrServlet</servlet-name>
    <url-pattern>/lignefr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LignfrServlet</servlet-name>
    <url-pattern>/addlignefr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LignfrServlet</servlet-name>
    <url-pattern>/ajoutlignefr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LignfrServlet</servlet-name>
    <url-pattern>/updatelignefr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LignfrServlet</servlet-name>
    <url-pattern>/modiflignefr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LignfrServlet</servlet-name>
    <url-pattern>/supplignefr</url-pattern>
  </servlet-mapping>
</web-app>